/* on large screens */
@media (min-width: 1024px) {
    main {
        width: 80% !important;
    }
}

/* on small screens */
@media (max-width: 768px) {
    :root {
        --qd-main-font-size: 1.1em !important;
    }
}

h1 {
    font-size: 3.3rem !important;
}

h2 {
    font-size: 2.5rem !important;
}

a {
    text-decoration: none !important;
}

a:not(.sidebar a)::after {
    font-family: 'boxicons', monospace;
    font-weight: normal;
    margin-inline-start: 4px;
    content: "\eb3d";
    vertical-align: text-bottom;
}