/* on large screens */
@media (min-width: 1024px) {
    main {
        width: 80% !important;
    }
}

/* on small screens */
@media (max-width: 823px) {
    .sidebar {
        display: none !important;
    }
}

a {
    text-decoration: none !important;
}

a:not(.sidebar a)::after {
    font-family: 'boxicons', monospace;
    font-weight: normal;
    margin-inline-start: 4px;
    content: "\eb3d";
    vertical-align: text-bottom;
}