/* on large screens */
@media (min-width: 1024px) {
    main {
        width: 80% !important;
    }
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2rem !important;
}

a {
    text-decoration: none !important;
}

a:not(.sidebar a)::after {
    font-family: 'boxicons', monospace;
    font-weight: normal;
    margin-inline-start: 4px;
    content: "\eb3d";
    vertical-align: text-bottom;
}