name: Build

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: quarkdown-labs/setup-quarkdown@v1
        with:
          quarkdown-version: devbuild # TODO use stable when v1.13 is released
      
      - name: Build
        run: quarkdown c src/main.qd --out output --clean
      
      - name: Get output directory
        id: output-dir
        run: echo "dir=$(ls -d output/*/)" >> $GITHUB_OUTPUT

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: dist
          publish_dir: ${{ steps.output-dir.outputs.dir }}
